<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scoula.product.mapper.ProductMapper">

    <select id="getList" resultType="org.scoula.product.domain.ProductVO">
        select * from product order by product_id
    </select>

    <select id="get" resultType="org.scoula.product.domain.ProductVO">
        select * from product where product_id = #{productId}
    </select>

    <select id="getRecommend" resultType="org.scoula.product.domain.ProductVO">
        SELECT *
        FROM product
        WHERE max_rate IS NOT NULL
          AND (
            -- 예금 : 최소 가입금액이 내 자산 이하
            (product_type = '예금'
                AND (min_amount IS NULL OR min_amount &lt;= #{amount}))
                OR
                -- 적금 : (월 최대납입 × 최대개월수)가 내 자산 이하
            (product_type = '적금'
                AND (max_amount * max_period) &lt;= #{amount})
            )
        ORDER BY max_rate DESC
            LIMIT 1
    </select>

</mapper>